@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Footer Start -->
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Liên Hệ</h2>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>280 An Dương Vương, Quận 5</p>
                        <p><i class="fa fa-envelope"></i>contact.gonzstore@gmail.com</p>
                        <p><i class="fa fa-phone"></i>(+84) 969-969-969</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Cộng Đồng GONZ</h2>
                    <div class="contact-info">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Thông Tin GONZ</h2>
                    <ul>
                        <li><a href="/gioithieu/index/">Giới thiệu GONZ</a></li>

                        <li><a href="#">Điều khoảng dịch vụ</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Chính sách mua hàng</h2>
                    <ul>
                        <li><a href="#">Quy định chung</a></li>
                        <li><a href="#">Chính sách giao hàng</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <!--

    <div class="row payment align-items-center">
        <div class="col-md-6">
            <div class="payment-method">
                <h2>We Accept:</h2>
                <img src="img/payment-method.png" alt="Payment Method" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="payment-security">
                <h2>Secured By:</h2>

                <img src="~/ecommerce-html-template/img/godaddy.svg" alt="Payment Security" />
                <img src="~/ecommerce-html-template/img/norton.svg" alt="Payment Security" />
                <img src="~/ecommerce-html-template/img/ssl.svg" alt="Payment Security" />
            </div>
        </div>
    </div>
    -->
    </div>
</div>
<!-- Footer End -->
<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright &copy; <a href="https://htmlcodex.com">GONZ</a>. Đã đăng ký bản quyền</p>
            </div>

            <div class="col-md-6 template-by">
                <input class="form-control" id="tracuudonhang" type="text" placeholder="Tra cứu trạng thái đơn hàng"><button class="btn" id="tracuu">Tra cứu</button>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom End -->
